__pycache__/
backup/
ypoloipa/
migrations/
export.sql
settings.py
# synetairismos/settings.py
*.db
*.sqlite3
*.log
*.swp
*.bak
*.tmp
*.DS_Store
*.egg
*.egg-info/
*.dist-info/
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.7z
*.tgz
*.vscode/
.idea/ 
*.iml
*.sublime-workspace
*.sublime-project
*.coverage
*.cover
*.py[cod]
*.sh
*.md
*.sql
*.ps1

