{% extends "main.html" %} 

{% block title %}
<title>Συνεταιρισμός Πεύκου - Καταναλωτές</title>

{% endblock title %} 


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h4 class="text-center text-white bg-dark p-3">Καταναλωτές</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><a href="?sort=id&order={{ order }}">Id</a></th> 
                    <th scope="col"><a href="?sort=surname&order={{ order }}">Καταναλωτής</a></th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                  <tr>
                    <th scope="row">{{d.id}}</th>
                    <td><a href="/customerIrrigations/{{d.id}}">{{d.surname}} {{d.name}} {{d.fathersName}}</a></td>
                    <td><a type="button" href="/customers/update/{{d.id}}" class="btn btn-warning">Edit</a></td>
                    {% comment %} <td><a type="button"  href="/delete/{{d.id}}"  class="btn btn-danger">Delete</a></td> {% endcomment %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>





{% endblock content %}
