<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
    <div class="container-md text-center">
      <a class="navbar-brand" href="/">Ποτισμοί</a>
      <a class="navbar-brand" href="/customers/">Καταναλωτές</a>
      <a class="navbar-brand" href="/counters/">Μετρητές</a>
      <a class="navbar-brand" href="/paids/">Πληρωμές</a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="/add-irrigation/">ΠροσθήκηΠοτισμού</a>
    </div>
  </nav>
