{% extends "main.html" %} 

{% block title %}
<title>Συνεταιρισμός Πεύκου - Πληρωμές</title>
<style>
  td a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
  }
  @media (max-width: 576px) {
    h4 {
      font-size: 1.1rem;
    }
    .table {
      font-size: 0.95rem;
      overflow-x: auto;
      display: block;
      width: 100%;
    }
    td, th {
      padding: 0.3rem;
    }
    .container, .container-fluid, .row, .col-md-8 {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }
</style>
{% endblock title %} 


{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 col-md-8">
            <h4 class="text-center text-white bg-dark p-3">Πληρωμές</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><a href="?sort=receiptNumber&order={% if sort_by == 'receiptNumber' and order == 'asc' %}desc{% else %}asc{% endif %}">ΑρΑπόδ</a></th>
                    {% comment %} <th scope="col"><a href="?sort=customer&order={% if sort_by == 'customer' and order == 'asc' %}desc{% else %}asc{% endif %}">Καταναλωτής</a></th> {% endcomment %}
                    <th scope="col"><a href="?sort=irrigation&order={% if sort_by == 'irrigation' and order == 'asc' %}desc{% else %}asc{% endif %}">Ποτισμός</a></th>
                    <th scope="col"><a href="?sort=paid&order={% if sort_by == 'paid' and order == 'asc' %}desc{% else %}asc{% endif %}">Πληρωμή</a></th>
                    <th scope="col"><a href="?sort=paymentDate&order={% if sort_by == 'paymentDate' and order == 'asc' %}desc{% else %}asc{% endif %}">Ημ/νία</a></th>
                    <th scope="col"><a href="?sort=balance&order={% if sort_by == 'balance' and order == 'asc' %}desc{% else %}asc{% endif %}">Ισοζύγιο</a></th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                  <tr>
                    <td>{{d.receiptNumber}}</td>
                    <td>{{d.irrigation}}</td>
                    <td>{{d.paid}}</td>
                    <td>{{d.paymentDate}}</td>
                    <td>{{d.balance}}</td>
                    {% if d.balance == 0 %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-primary">Edit</a></td>
                    {% elif d.balance > 0 %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-success">Edit</a></td>
                    {% elif d.balance < 0 %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-danger">Edit</a></td>
                    {% else %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-warning">Edit</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock content %}
