{% extends "main.html" %} 

{% block title %}
<title>Συνεταιρισμός Πεύκου - Πληρωμές</title>
<style>
  td a.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Μικρότερο ύψος */
    padding: 5px 10px; /* Ρύθμιση εσωτερικού κενού */
    font-size: 14px; /* Αν θες να μειώσεις και το μέγεθος της γραμματοσειράς */
  }
</style>
{% endblock title %} 


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h4 class="text-center text-white bg-dark p-3">Πληρωμές</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><a href="?sort=receiptNumber&order={{ order }}">ΑρΑπόδ</a></th>
                    {% comment %} <th scope="col"><a href="?sort=customer&order={{ order }}">Καταναλωτής</a></th> {% endcomment %}
                    <th scope="col"><a href="?sort=irrigation&order={{ order }}">Ποτισμός</a></th>
                    <th scope="col"><a href="?sort=paid&order={{ order }}">Πληρωμή</a></th>
                    <th scope="col"><a href="?sort=paymentDate&order={{ order }}">Ημ/νία</a></th>
                    <th scope="col"><a href="?sort=balance&order={{ order }}">Ισοζύγιο</a></th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                  <tr>
                    <td>{{d.receiptNumber}}</td>
                    <td>{{d.irrigation}}</td>
                    <td>{{d.paid}}</td>
                    <td>{{d.paymentDate}}</td>
                    <td>{{d.balance}}</td>
                    {% if d.balance == 0 %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-primary">Edit</a></td>
                    {% elif d.balance > 0 %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-success">Edit</a></td>
                    {% elif d.balance < 0 %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-danger">Edit</a></td>
                    {% else %}
                      <td><a type="button" href="/paids/update/{{d.id}}" class="btn btn-warning">Edit</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock content %}
